#include "pm.h"
#include "pmlife10.h"

ICON ID_RESOURCE pmlife.ico

MENU ID_RESOURCE
BEGIN
  SUBMENU "Li~Fe", IDM_LIFE
  BEGIN
    MENUITEM "~Init\t^I", IDM_INIT
    MENUITEM "~Add\t^A", IDM_ADD
    MENUITEM "~Start\t^S", IDM_START
    MENUITEM "S~Top\t^T", IDM_END
    MENUITEM "~Quit\t^Q", SC_CLOSE, MIS_SYSCOMMAND
  END
  SUBMENU "~Option", IDM_OPTION
  BEGIN
    MENUITEM "~Delay\t^D", IDM_SETDELAY
    MENUITEM "En~Large Cell\t^L", IDM_ENLARGE
    MENUITEM "Sh~Rink Cell\t^R", IDM_SHRINK
    MENUITEM "~Colour\t^C", IDM_SETCOLOUR
    MENUITEM "Field Size", IDM_FIELDSIZE
    MENUITEM "Load", IDM_LOADSETTINGS
    MENUITEM "Save", IDM_SAVESETTINGS
    MENUITEM "Save as Default", IDM_SAVEDEFSETTINGS
  END
  MENUITEM "About", IDM_ABOUT

END

ACCELTABLE ID_RESOURCE
BEGIN
  "^F", IDM_LIFE
  "^I", IDM_INIT
  "^A", IDM_ADD
  "^S", IDM_START
  "^T", IDM_END
  "^O", IDM_OPTION
  "^D", IDM_SETDELAY
  "^L", IDM_ENLARGE
  "^R", IDM_SHRINK
  "^Q", SC_CLOSE
  "^X", SC_CLOSE
END

DLGTEMPLATE IDD_ABOUT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  DIALOG "", IDD_ABOUT, 20, 22, 150, 120
  BEGIN
    CTEXT          "PMLIFE 1.0", IDD_NULL, 2, 103, 146, 10
    CTEXT          "An Implementation of", IDD_NULL, 2, 87, 146, 9
    CTEXT          "Conway's Life Game for", IDD_NULL, 2, 71, 146, 9
    CTEXT          "OS/2 Presentation Manager by", IDD_NULL, 2, 56, 146, 9
    CTEXT          "The Creative CAT, 1996 with", IDD_NULL, 2, 41, 146, 9
    CTEXT          "Virtual Pascal/2", IDD_NULL, 2, 26, 146, 9
    DEFPUSHBUTTON  "OK", DID_OK, 55, 4, 40, 12, WS_GROUP
  END
END

DLGTEMPLATE IDD_SETDELAY LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  DIALOG "", IDD_SETDELAY, 16, 14, 200, 88, FS_DLGBORDER
  BEGIN
    CTEXT           "Speed Control", IDD_NULL, 4, 67, 192, 9, DT_VCENTER
    RTEXT           "Delay in msec", IDD_NULL, 127, 51, 64, 9
    AUTOCHECKBOX    "Idle Time", IDD_SETPRTY, 5, 32, 47, 13, WS_GROUP
    CONTROL         "", IDD_SCROLLBAR, 62, 32, 94, 13, WC_SLIDER,
                        WS_VISIBLE | WS_TABSTOP
                        CTLDATA 12,0,10,0,10,0
    ENTRYFIELD      "", IDD_ENTRYBOX, 161, 32, 30, 13, ES_RIGHT | ES_READONLY
    DEFPUSHBUTTON   "OK", DID_OK, 6, 4, 38, 12
    PUSHBUTTON      "Cancel", DID_CANCEL, 56, 4, 38, 12
  END
END

DLGTEMPLATE IDD_FILELIST LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  DIALOG "", IDD_FILELIST, 15, 5, 200, 170, FS_DLGBORDER
  BEGIN
    CTEXT "Select Figure", IDD_NULL, 10, 155, 80, 12
    LISTBOX , IDD_LISTBOX, 10, 20, 130, 140, WS_TABSTOP
    DEFPUSHBUTTON "OK", DID_OK, 6, 4, 28, 12, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", DID_CANCEL, 56, 4, 38, 12, WS_TABSTOP | WS_GROUP

    GROUPBOX "Rotation",   IDD_NULL, 145, 95, 50, 75
    AUTORADIOBUTTON "0",   IDD_ROTATE0, 150, 145, 40, 12
    AUTORADIOBUTTON "90",  IDD_ROTATE90, 150, 130, 40, 12
    AUTORADIOBUTTON "180", IDD_ROTATE180, 150, 115, 40, 12
    AUTORADIOBUTTON "-90", IDD_ROTATE270, 150, 100, 40, 12

    GROUPBOX "Mirror",     IDD_NULL, 145, 50, 50, 40
    AUTOCHECKBOX "Horiz",  IDD_MIRRORH, 150, 70, 40, 12, WS_TABSTOP
    AUTOCHECKBOX "Vert",   IDD_MIRRORV, 150, 55, 40, 12, WS_TABSTOP

    GROUPBOX "Offset",     IDD_NULL, 145, 5, 50, 40
    CTEXT "X", IDD_NULL, 150, 25, 10, 12, DT_BOTTOM
    EDITTEXT "", IDD_INITCOLUMN, 160, 25, 30, 12, WS_VISIBLE
    CTEXT "Y", IDD_NULL, 150, 10, 10, 12, DT_BOTTOM
    EDITTEXT "", IDD_INITROW, 160, 10, 30, 12, WS_VISIBLE

  END
END

DLGTEMPLATE IDD_COLOUR
BEGIN
  DIALOG "", IDD_COLOUR, 15, 5, 150, 140, FS_DLGBORDER
  BEGIN

    DEFPUSHBUTTON "OK", DID_OK, 6, 4, 38, 12, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", DID_CANCEL, 56, 4, 38, 12,
                                               WS_TABSTOP | WS_GROUP

    GROUPBOX "Fore Colour",   IDD_NULL, 10, 80, 135, 55
    AUTORADIOBUTTON "White",  IDD_FOREWHITE, 30, 115, 40, 12,
                                                WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "Yellow", IDD_FOREYELLOW, 80, 115, 40, 12
    AUTORADIOBUTTON "Cyan",   IDD_FORECYAN, 30, 100, 40, 12
    AUTORADIOBUTTON "Red",    IDD_FORERED, 80, 100, 40, 12
    AUTORADIOBUTTON "Black",  IDD_FOREBLACK, 30, 85, 40, 12
    AUTORADIOBUTTON "Grey",   IDD_FOREGREY, 80, 85, 40, 12
    GROUPBOX "Back Colour",   IDD_NULL, 10, 20, 135, 55
    AUTORADIOBUTTON "Black",  IDD_BACKBLACK, 30, 55, 40, 12,
                                                WS_TABSTOP | WS_GROUP
    AUTORADIOBUTTON "Yellow", IDD_BACKYELLOW, 80, 55, 40, 12
    AUTORADIOBUTTON "Blue",   IDD_BACKBLUE, 30, 40, 40, 12
    AUTORADIOBUTTON "Magenta",IDD_BACKMAGENTA, 80, 40, 40, 12
    AUTORADIOBUTTON "White",  IDD_BACKWHITE, 30, 25, 40, 12
    AUTORADIOBUTTON "Grey",   IDD_BACKGREY, 80, 25, 40, 12
  END
END

DLGTEMPLATE IDD_FIELDSIZE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  DIALOG "", IDD_FIELDSIZE, 41, 24, 103, 95, FS_DLGBORDER
  BEGIN
    AUTORADIOBUTTON "1024 x 1024", IDD_LARGEFIELD, 21, 70, 57, 9, WS_GROUP
    AUTORADIOBUTTON "512 x 512", IDD_MEDIUMFIELD, 21, 56, 48, 10
    AUTORADIOBUTTON "256 x 256", IDD_SMALLFIELD, 21, 42, 49, 9
    AUTOCHECKBOX    "Wrap", IDD_FIELDWRAP, 12, 21, 40, 9, WS_GROUP
    DEFPUSHBUTTON   "OK", DID_OK, 8, 2, 29, 13
    PUSHBUTTON      "Cancel", DID_CANCEL, 40, 2, 29, 13
    GROUPBOX        "Size of Life Field", IDD_NULL, 12, 35, 80, 55
  END
END
